{% extends 'base.html' %} 
{% load static %}
{% block content %} 
<div class="ball"></div>
<div class="ball"></div>
<form method="get" class="search-form form">
    {% csrf_token %}
    <div class="users">
        {% if users %}
            {% for user in users %}
                <a class="user" href="{% url 'profile' user.id %}">
                    <img src="{% if user.profile.image %}{{MEDIA_URL}}/{{user.profile.image}}{% else %}{% static 'images/image.jpg' %}{% endif %}" alt="" class="profile-pic">
                    <div class="user-info">
                        <div class="username">{{user.username}}</div>
                        <div class="email">{{user.email}}</div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <h1>{{instead}}</h1>
        {% endif %}
    </div>
    <div class="input-field">
        <input type="text" name="q">
        <button type="submit" class="submit">Search</button>
    </div>
</form>
{% endblock %}
