{% extends 'base.html' %} 
{% load static %}
{% block content %} 
<div class="ball"></div>
<div class="ball"></div>
<div class="card video-card">
    <h1 class="title">{{video.title}}</h1>
            <a class="picture" href="{% url 'profile' video.user.id %}"><img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt=""></a>

            <div class="info">
                <p class="likes">{{video.like_set.count}}</p>
                <p class="comment-count">{{video.comment_set.count}}</p>
            </div>
            <div class="video-buttons">
                <form method="get" action="{% url 'like' %}"> 
                    {% csrf_token %}
                    <input type="hidden" value="{{video.id}}" name="video">
                    <button type="submit" class="like {% for like in video.like_set.all %} {% if like.user == user %} liked {% endif %} {% endfor %}"><i class="fas fa-heart"></i></button>
                </form>
                    <button type="submit" class="comment"><a href="{% url 'comment' video.id %}"><i class="fas fa-comment"></i></a></button>
                    <button type="submit" class="share"><i class="fas fa-share"></i></button>
                
                <button class="music"><img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt=""></a>
                    <div class="circle"></div>
                </button>
            </div>
            <div class="description">
                <h2 class="username">{{video.user.username}}</h2>
                <p class="songname"><i class="fas fa-music"></i> {{video.songname}}</p>
            </div>
    <video class="video" width="100%" height="100%">
        <source src="{{MEDIA_URL}}/{{video.file.name}}" type="video/mp4">
    </video>
</div>
{% endblock %}
